.main-cont{
	min-height: 710px;
	margin-top: 100px;
}

#name, #email, #password, #password-confirm{
	padding-left: 35px;
}

.form-control:focus + i{
	color: #BF7130;
}

i.user-icon-login{
	position: absolute;
	top: 150px;
	left: 40px;
	font-size: 17px;
	color: #c8c8c8;
	transition : all 0.5s ease 0s;
}

i.key-icon-login{
	position: absolute;
	top: 215px;
	left: 40px;
	font-size: 17px;
	color: #c8c8c8;
	transition : all 0.5s ease 0s;
}

i.user-icon-reg{
	position: absolute;
	top: 150px;
	left: 40px;
	font-size: 17px;
	color: #c8c8c8;
	transition : all 0.5s ease 0s;
}

i.envelope-icon-reg{
	position: absolute;
	top: 215px;
	left: 40px;
	font-size: 17px;
	color: #c8c8c8;
	transition : all 0.5s ease 0s;
}

i.key-icon-reg{
	position: absolute;
	top: 275px;
	left: 40px;
	font-size: 17px;
	color: #c8c8c8;
	transition : all 0.5s ease 0s;
}

i.check-icon-reg{
	position: absolute;
	top: 337px;
	left: 40px;
	font-size: 17px;
	color: #c8c8c8;
	transition : all 0.5s ease 0s;
}

@media (min-width:765px){
	.banner-sec{
		padding-right: 0;
	}
}

.inside{
	background:#fff;
	border-radius: 10px;
	box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.carousel-inner{
	border-radius:0 10px 10px 0;
}

.carousel-caption{
	text-align:left;
	left:5%;
}

.login-sec{
	padding: 50px 30px;
	position:relative;
}

.login-sec h2{
	margin-bottom:30px;
	font-weight:800;
	font-size:30px;
	color: #BF7130;
}

.login-sec h2:after{
	content:" "; 
	width:100px; 
	height:5px; 
	background:#BF7130; 
	display:block; 
	margin-top:20px; 
	border-radius:3px; 
	margin-left:auto;
	margin-right:auto
}

.btn-login{
	background: #BF7130; 
	color:#fff; 
	font-weight:600;
}

.main-checkbox{
	float: left;
	width: 20px;
	height: 20px;
	background: #BF7130;
	border-radius: 50%;
	position: relative;
	margin: 5px 0 0 5px;
	border: 1px solid #BF7130;
}

.main-checkbox label{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.main-checkbox label:after{
	content: "";
	width: 10px;
	height: 5px;
	position: absolute;
	top: 5px;
	left: 4px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.main-checkbox input[type=checkbox]{
	visibility: hidden;
}

.main-checkbox input[type=checkbox]:checked + label:after{
	opacity: 1;
}

span.text{
	float: left;
	margin-left: 7px;
	line-height: 20px;
	padding-top: 5px;
	text-transform: capitalize;
}