.footer-info{
	color: white;
	font-size: 18px;
}

.balance{
	color: white;
	background-color: #BF7130;
}

.con-text{
	display: inline-block;
	color: #BF7130;
}

.con-picture{
	display: inline-block; 
	font-size: 24px; 
	color: #BF7130;
}

.label{
	color: #BF7130;
}

.footer p{
	color: white;
}

.contactInfo p{
	display: inline;
}

footer.footer {
	padding: 20px;
	text-align: center;
	clear:both;
	margin: auto;
	align-content: center;
	background-color: black;
}

.round {
    border-radius: 100px;
    box-shadow: 0 0 7px #666;
}

.reviews-part{
	background-color: whitesmoke;
}

.carousel-items{
	padding-left: 145px;
	padding-right: 145px;
}

.orders-part{
	background-color: whitesmoke;
}

nav{	
	position: absolute;
	background-color: black;
}

nav .navbar-nav li.left-part a{
	color: white !important;
}

nav .navbar-nav li.left-part a:hover{
	transition: 1.5s;
	font-size: 18px;
}

.video-part{
	width: 100%;
    min-height: 600px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
	padding: 0;
}

@media (min-width:900px){
	.element-animation{
		opacity: 0;
	}

	.element-animation.element-show {
		opacity: 1;
		transition: opacity 2s;
	}
}

@media (max-width:900px){
	#myCarousel{
		padding-left: 0px;
		padding-right: 0px;
	}
}

.hover-zoom{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover-zoom:hover{
	-webkit-transform: scale(1.06);
	transform: scale(1.06);
	transition: 0.7s ease-in-out;
}

@font-face {
	font-family: Moderne Sans;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
}

body {
	margin: 0;
	background-image: url(https://www.mewallpaper.com/thumbnail/abstract/3874-grid-hexagonal-white-hd-download-hq-wallpaper.jpg);
	background-repeat: repeat-y, repeat-x;
	//background-image: url(https://avatanplus.com/files/resources/original/5b88ffcc57cde1658f273648.jpg);
	font-family: "Montserrat Alternates";
	font-style: "Regular";
}

video { 
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:900px){
	.orders{
		padding-right: 160px;
	}
}

.carousel-inner .carousel-item-prev.carousel-item-right {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	visibility: visible;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.451 25.451' fill='%23000'%3E%3Cpath d='M20.982.521v2.006L8.57 12.315c-.121.101-.195.251-.195.41s.074.311.195.41l12.412 9.79v2.005a.52.52 0 01-.297.469.519.519 0 01-.549-.061L4.664 13.136a.531.531 0 010-.82L20.136.113a.523.523 0 01.846.408z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.005 512.005' fill='%23000'%3E%3Cpath d='M388.418 240.923L153.751 6.256c-8.341-8.341-21.824-8.341-30.165 0s-8.341 21.824 0 30.165L343.17 256.005 123.586 475.589c-8.341 8.341-8.341 21.824 0 30.165a21.275 21.275 0 0015.083 6.251 21.277 21.277 0 0015.083-6.251l234.667-234.667c8.34-8.34 8.34-21.823-.001-30.164z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
   width: 45px;
}

.maininfo{
	margin-top: 100px;
}

.price-header{
	border-bottom: 3px solid #BF7130;
}

.label, .price{
	color:  #BF7130;
}

td{ 
	background: rgb(220, 220, 220);
}

table{
	border: 3px solid #BF7130;
}

td{
	border: 3px solid #BF7130;
}

.rewsubmit{
	background-color: #BF7130;
}